output = mechanize.graphml
classpath = ../target/classes
include = com.gistlabs.mechanize.**
exclude = java*.**
exclude = com.gistlabs.mechanize.integration.**
exclude = com.gistlabs.mechanize.util.*.**
exclude = com.gistlabs.mechanize.exceptions.**

part = {
	json com.gistlabs.mechanize.document.json.**
	html com.gistlabs.mechanize.document.html.**
}
